#services {
    padding:var(--space-56) 4%;
}

.services__container {
    max-width: 1280px;
    width: 100%;
}

/* ==========================================================================
   CONTEÚDO TEXTUAL
   ========================================================================== */
.services__header {
    max-width: 750px;
}

.services__tagline {
    color: var(--color-primary);
    letter-spacing: .22rem;
    text-transform: uppercase;
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-xs);
    line-height: 1rem;
}

.services__title {
   color: var(--color-text);
    font-family: var(--font-title);
    font-size: var(--font-size-5xl);
    font-weight: var(--font-weight-semibold);
    text-wrap: balance;
    line-height: 1;
    margin-top: var(--space-12);
}

.services__description {
    color: var(--color-muted-foreground);
    line-height: 1.625;
    font-size: var(--font-size-lg);
    margin-top: var(--space-16);
}

/* ==========================================================================
   GRID
   ========================================================================== */
.services__grid {
    max-width: 1280px;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: var(--space-24);
    margin-top: var(--space-56);
}

